# IDE
.idea/

# Customer Data
img/

# Python venvs - local
venv/

# Pyc files
*.pyc
__pycache__/

instance/

# Py tests
.pytest_cache/
.coverage
htmlcov/

# Packaging
dist/
build/
*.egg-info/

# Secrets
hidden_scripts/
