{% extends 'base.html' %}

{% block content %}
<div class="container-sm py-4">
  <header class="h2 border-bottom border-dark pb-2 mb-4">Style Transfer</header>
  <div class="row pt-4">
    <div class="col px-5 text-center">
      <h5>Content Image</h5>
    </div>
    <div class="col px-5 text-center">
      <h5>Style Image</h5>
    </div>
  </div>
  <div class="row">
    <div class="col px-5">
      <form action="/file-upload" class="dropzone" id="content-image-upload">
      </form>
    </div>
    <div class="col px-5">
      <form action="/file-upload" class="dropzone" id="style-image-upload">
      </form>
    </div>
  </div>
  <div class="row justify-content-center pt-5">
    <div class="col-5">
      <form method="post" action="/render">
        <button type="submit" class="btn btn-dark btn-lg position-relative top-50 start-50 translate-middle">Render</button>
      </form>
    </div>
    <div class="progress">
      <div class="progress-bar bg-dark" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>


<script src="static/js/dropzone.js"></script>
<script src="static/js/dropzoneconfig.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="static/js/progressbar.js"></script> -->
{% endblock %}
